<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/perfil-usuario" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formularioCambio">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Nueva Contraseña</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Contraseña Actual</ion-label>
          <ion-input
            type="password"
            formControlName="actualPassword"
            placeholder="Ingresa tu contraseña actual"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nueva Contraseña</ion-label>
          <ion-input
            type="password"
            formControlName="nuevaPassword"
            placeholder="Ingresa tu nueva contraseña"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Confirmar Contraseña</ion-label>
          <ion-input
            type="password"
            formControlName="confirmarPassword"
            placeholder="Confirma tu nueva contraseña"
          ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button
      expand="block"
      color="primary"
      (click)="actualizarContrasena()"
      [disabled]="formularioCambio.invalid"
    >
      Actualizar Contraseña
    </ion-button>
  </form>
</ion-content>
